<div style="width: 100%;height:100px;background-color: white;" >

    <button ui-sref='link2.tab1'  class="btn cBtn">平台用户管理</button>
    <button ui-sref='link2.tab2'   class="btn cBtn">商家账户管理</button>
    <button ui-sref='link2.tab3'   class="btn cBtn">系统用户管理</button>
</div>
<div  style="width: 100%;height:550px;background-color: yellow" >

    <div ui-view>
        <div  class="container tab1">
            <div  class="row">
                <div class="col-md-4">
                    <span>ID</span>
                    <input name="" type="text"  placeholder="请输入ID" />

                </div>
                <div class="col-md-4">
                    <span>账户状态</span>
                    <div class="form" style="display: inline-block">
                        <select id="city" class="select" style="width: 150px">
                            <option value="正常">正常</option>
                            <option value="冻结">冻结</option>
                            <option value="注销">注销</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button ng-click="fun.query()"  class="btn  cBtn" >查询</button>
                    <button type="button" onclick="method('tableExcel')" class="btn  cBtn">导出</button>
                </div>

            </div>



            <div >
                <table class="table table-condensed tableStyle" id="tableExcel"  >
                    <thead >
                    <tr >
                        <th>账户ID</th>
                        <th>账户名称</th>
                        <th>账户邮箱</th>
                        <th>账户类别</th>
                        <th>账户余额</th>
                        <th>结算账户</th>
                        <th>创建时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(index,x) in names">
                        <td>{{ x.id }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.email }}</td>
                        <td>{{ x.acc}}</td>
                        <td>{{ x.Account}}</td>
                        <td>{{ x.compute }}</td>
                        <td>{{ x.time }}</td>
                        <td>{{ x.status }}</td>




                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <script>

        </script>
    </div>
</div>