<div style="height:650px; width: 100%">
<div class="row" >
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail alignC">
            <img class="imgS" src="../src/image/u46.png" />
            <div class="caption">
                <h3>平台账户管理</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail alignC">
            <img class="imgS"  src="../src/image/u48.png"  />
            <div class="caption">
                <h3>交易流水管理</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" >
        <div class="thumbnail alignC" >
            <img class="imgS"   src="../src/image/u50.png" />
            <div class="caption">
                <h3>银行流水管理</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail alignC">
            <img class="imgS"  src="../src/image/u52.png" />
            <div class="caption ">
                <h3>支付结算管理</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail alignC">
            <img class="imgS" src="../src/image/u54.png" />
            <div class="caption">
                <h3>报表管理</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail alignC">
            <img class="imgS"  src="../src/image/u56.png" />
            <div class="caption">
                <h3>系统维护管理</h3>
            </div>
        </div>
    </div>
</div>
</div>