.tab1{
    width: 100%;
    height:550px;
    background-color: white;
    border: 1px solid black
}
.cBtn{
    color: white;
    background-color: grey;
    font-weight:bolder;
    font-size: 15px;
    font-family: "Microsoft YaHei UI";
}
.cBtn:hover {color: white;background-color: black}
.cBtn:active {color: white}	/* 选定的链接 */
.tableStyle{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.tableStyle thead{
    border: 1px solid black;
    text-align: center;
}
.tableStyle thead tr{
    padding-right:17px;background-color:#999;color:#000;
}
.tableStyle thead tr th,.tableStyle tbody tr td{
    border: 1px solid black;
    text-align: center;
}

.tableStyle tbody {
    display:block;
    height:480px;
    overflow-y:scroll;
}
.tableStyle thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.tableStyle thead {
    width: calc( 100% - 1em )
}