<div style="width: 100%;height:650px;background-color: white">
    <div class="row" style="height: 80px; padding-top:10px;border-bottom: 3px solid black">
        <div style="height: 60px;padding-top: 15px" class="col-md-2">
            <span style="font-size: 16px">账号</span>
            <input type="text" style="width: 160px">
        </div>
        <div style="height: 60px;padding-top: 15px" class="col-md-6" >
            <div >
                <div class="row">
                    <div class="col-md-2">
                        <span style="font-size: 16px;">交易起止时间</span>
                    </div>
                    <div class="col-md-5">
                        <p class="input-group">
                            <input  class="form-control " show-button-bar="false"
                                    uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened"/>
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open1()"><i>点击</i></button></span>
                        </p>
                    </div>

                    <div class="col-md-5">
                        <p class="input-group">
                            <input  class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened"/>
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open2()"><i>点击</i></button></span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div style="height: 60px;padding-top: 15px;" class="col-md-3">
            <span style="font-size: 16px;display: inline-block"> 交易状态:</span>
            <select style="height: 30px;width: 180px">
                <option value ="volvo">全部</option>
                <option value ="saab">成功</option>
                <option value="opel">失败</option>
            </select>
        </div>
        <div style="height: 60px;padding-top: 15px" class="col-md-1">
            <button class="btn" style="border: 1px solid orangered;background-color: orangered">搜索</button>
        </div>

    </div>
    <div style="height:450px">
        <ul class="nav nav-tabs" id="myTab" >
            <li class="active"><a href="#home">支付交易明细</a></li>
            <li><a href="#profile">提现交易明细</a></li>
            <li><a href="#messages">红包交易明细</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">

                <div >
                    <table class="table table-condensed tableStyle"   >
                        <thead >
                        <tr >
                            <th>账户ID</th>
                            <th>账户名称</th>
                            <th>账户邮箱</th>
                            <th>账户类别</th>
                            <th>账户余额</th>
                            <th>结算账户</th>
                            <th>创建时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(index,x) in names |filter:search ">
                            <td>{{ x.id }}</td>
                            <td>{{ x.name}}</td>
                            <td>{{ x.email }}</td>
                            <td>{{ x.acc}}</td>
                            <td>{{ x.Account}}</td>
                            <td>{{ x.compute }}</td>
                            <td>{{ x.time }}</td>
                            <td>{{ x.status }}</td>




                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="tab-pane" id="profile">
                <table class="table table-condensed tableStyle"   >
                    <thead >
                    <tr >
                        <th>账户ID</th>
                        <th>账户名称</th>
                        <th>账户邮箱</th>
                        <th>账户类别</th>
                        <th>账户余额</th>
                        <th>结算账户</th>
                        <th>创建时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(index,x) in names |filter:search ">
                        <td>{{ x.id }}</td>
                        <td>{{ x.name}}</td>
                        <td>{{ x.email }}</td>
                        <td>{{ x.acc}}</td>
                        <td>{{ x.Account}}</td>
                        <td>{{ x.compute }}</td>
                        <td>{{ x.time }}</td>
                        <td>{{ x.status }}</td>




                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="tab-pane" id="messages">

                <table class="table table-condensed tableStyle">
                    <thead >
                    <tr >
                        <th>账户ID</th>
                        <th>账户名称</th>
                        <th>账户邮箱</th>
                        <th>账户类别</th>
                        <th>账户余额</th>
                        <th>结算账户</th>
                        <th>创建时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(index,x) in names |filter:search ">
                        <td>{{ x.id }}</td>
                        <td>{{ x.name}}</td>
                        <td>{{ x.email }}</td>
                        <td>{{ x.acc}}</td>
                        <td>{{ x.Account}}</td>
                        <td>{{ x.compute }}</td>
                        <td>{{ x.time }}</td>
                        <td>{{ x.status }}</td>




                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="settings">

                <table border="1" class="tab">
                    <caption>商品列表</caption>
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>价格（元）</th>
                        <th>生产日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>洗衣机</td>
                        <td>1999.00</td>
                        <td>2016-2-1</td>
                    </tr>
                    <tr>
                        <td>电视机</td>
                        <td>3999.00</td>
                        <td>2016-2-2</td>
                    </tr>
                    <tr>
                        <td>电冰箱</td>
                        <td>2999.00</td>
                        <td>2016-2-8</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<script>
    $(function () {
        $('#myTab a:first').tab('show');
    })
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    app.controller('timeCtrl', function ($scope) {

    });

</script>

<!--<table border="1" style="border:2px solid black; border-collapse:collapse;"  class="tab">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>商品名称</th>-->
<!--<th>价格（元）</th>-->
<!--<th>生产日期</th>-->
<!--<th>生产日期</th>-->
<!--<th>生产日期</th>-->
<!--<th>生产日期</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>洗衣机</td>-->
<!--<td>1999.00</td>-->
<!--<td>2016-2-1</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>电视机</td>-->
<!--<td>3999.00</td>-->
<!--<td>2016-2-2</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>电冰箱</td>-->
<!--<td>2999.00</td>-->
<!--<td>2016-2-8</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->